<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318372668562-1nrruqrcijd3t35dcvq6dpeo7ufnjt96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318372668562-1nrruqrcijd3t35dcvq6dpeo7ufnjt96</string>
	<key>API_KEY</key>
	<string>AIzaSyAsmGAvdt127K9a10AvYNVCh1BiAt3CClM</string>
	<key>GCM_SENDER_ID</key>
	<string>318372668562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.zeropass.port</string>
	<key>PROJECT_ID</key>
	<string>port-c1043</string>
	<key>STORAGE_BUCKET</key>
	<string>port-c1043.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318372668562:ios:0e5f54457f6986c4f0324b</string>
</dict>
</plist>